[user]
	name = Matt Drees
	email = matt.drees@cru.org
[core]
	excludesfile = /Users/mattdrees/.gitignore_global
	autocrlf = input
	whitespace = tab-in-indent
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[credential]
	helper = osxkeychain
[color]
	ui = true
[push]
	default = upstream
[branch]
	autosetuprebase = always
[branch "*branch-name*"]
	rebase = true
[diff]
	submodule = log
	colorMoved = true
	colorMovedWS = allow-indentation-change
[commit]
	template = /Users/mattdrees/.stCommitMsg
[alias]
	a = add
	alias = config --get-regexp ^alias\\.
	cd = checkout
	cleanup = "!git branch --merged master | grep  -v '\\*\\|master\\|develop\\|staging' | xargs -n 1 git branch -d"
	cleanup-dry-run = "!git branch --merged master | grep  -v '\\*\\|master\\|develop'"
	conflicts = !git ls-files --unmerged | cut -f2 | sort -u
	com = commit -m
	comm = commit
	count-conflicts = !grep -c '^=======$'
	count-all-conflicts = !grep -c  --no-filename '^=======$' $(git conflicts)  | paste -s -d+ - | bc
	f = commit --amend --no-edit
	follow = log --follow -p
	logbranch = "!git log --graph --oneline -$(git rev-list master..HEAD --count)"
	patch = add --patch
	pf = push --force-with-lease
	pushf = push --force-with-lease
	r = commit --amend
	riom = rebase --interactive origin/master
	st = status --branch --short
	unstage = reset HEAD --
	unstage-patch = reset HEAD --patch
	wat = log --graph --decorate --oneline -15
	ff = merge --ff-only @{u}
[diff "blackbox"]
	textconv = gpg --use-agent -q --batch --decrypt
[rebase]
	autoSquash = true
